mixin menu-toggle()
	+b.toggle-menu-mobile--js
		span
mixin mob-mnu()
	-
		//- let path = require('path');
		//- let fs = require('fs');
		//- var requestURL = 'top-nav.json';
		//- var request = new XMLHttpRequest();
		//- request.open('GET', requestURL);
		//- request.responseType = 'json';
		//- let dataJson = JSON.parse(json);
	//- h1= dataJson['lala'] 
	+b.menu-mobile--js
		+b.toggle-menu-mobile--js
			span
		+e.inner
			+mnu()
	//  мобильное меню
mixin top-nav() 
	// start top-nav
	+b.top-nav.block-with-lazy
		.container
			.row
				.col-auto
					+b.dropdown
						+b.toggle-menu-mobile--js.m-0
							span
						+e.menu.menu-mobile.menu-mobile--js
							.menu-mobile__inner
								.container
									+b.toggle-menu-mobile--js
										span
									+e.wrap
										ul.main-ul
											mixin li(a)
												li.has-children
													+e.link(href="#")= a
											+li("Ремонт и строительство под ключ")
											+li("Дизайн интерьера")
											+li("Дизайн ванной")
											+li("Ремонт кухни")
											+li("Штукатурно-малярные работы")
											+li("Услуги электрика")
											+li("Уборка помещения")
											+li("Комплексный дизайн проект")
											+li("Проект планировки квартиры")
											+li("Технический дизайн проект")
											+li("Сборка мебели")
										.d-lg-none 
											+mnu
									ul.ul-grid
										mixin a(i)
											li
												- for (var x = 1; x < 7; x++)
													a(href=`img/@2x/pic-${x}.jpg` data-fancybox=`gal-${i}`).d-none
												a(href=`img/@2x/pic-${i}.jpg` data-fancybox=`gal-${i}`)
													+pic(`pic-${i}.jpg`,'bg',0)
										+a('1')
										+a('2')
										+a('3')
										+a('4')
										+a('5')
										+a('6')
				.col-lg-auto.col
					+e.logo(href="/")
						+pic('logo.png','',0)
				//- .col
				.col-lg.order-lg-0.order-last.d-none.d-lg-block 
					+mnu()
				.col-auto
					+e.btn(href="#") Заказать звонок
				//- .col-auto.d-lg-none
				//- 	+menu-toggle()
	// end top-nav